<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand fs-2" routerLink="/" routerLinkActive="active-route"
      [routerLinkActiveOptions]="{ exact: true }">Products App</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/register" routerLinkActive="active-route"
            [routerLinkActiveOptions]="{ exact: true }">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active-route"
            [routerLinkActiveOptions]="{ exact: true }">Login</a>
        </li>
        <li class="nav-item d-flex justify-content-center align-items-center">
          <a routerLink="/cart" routerLinkActive="active-route" [routerLinkActiveOptions]="{ exact: true }"
            class="nav-link position-relative"><fa-icon class="fs-4" [icon]="faShopify"></fa-icon>
            <span class="position-absolute top-25 end-25 start-25 translate-middle badge rounded-pill bg-dark">
              {{counter}}
            </span>

          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
